<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="server" value="newserver"></add>
		<add key="uid" value="innov8_innvan"></add>
		<add key="pwd" value="10depleach66"></add>
		<add key="database" value="i8EPOS"></add>
		<!-- ensure trailing backslash on reports dir -->
		<add key="reportsdir" value = "C:\Program Files\innov8 Technology Limited\innov8 EPOS ST-GI\reports\"></add>
		<add key="barcodereport" value = "barcode.rpt"></add>
		<add key="proposedstockadj" value = "StockAdjustment.rpt"></add>
		<add key="stockcounted" value = "StockCounted.rpt"></add>
		<add key="goodsin" value = "GoodsIn.rpt"></add>
		<!-- if manually editing set the configured value to "Y" -->
		<add key="configured" value = "Y"></add>
		<!-- If set to "N" report will go straight to printer -->
		<add key="previewbarcode" value = "Y"></add>
		<add key="previewstkadj" value = "Y"></add>
		<add key="previewgoodsin" value = "Y"></add>
	</appSettings>
</configuration>
